body,table {
	font-family:Lato, Arial, serif; 
	font-size: 14px;	
}
div.container{
	width:950px;
	margin: 0 auto;
}
div.flash{
	padding: 10px;
	width: 100%;
	border: 1px solid gray;
}
div.error{
	background-color: red;
}
div.success{
	background-color: green;
}
div.notice{
	background-color: yellow;
}

ul.mainMenu{
	width: 100%;
	border: 1px solid gray;
	padding:10px;
}
ul.mainMenu li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}